{include file="public/header"}
{include file="public/left"}
    <section class="container" id="container">
        <div class="box">
            <div class="head">
                <h2>账号设置</h2>
                <div class="head-right">
                    <button class="btn btn-primary go-back">返回</button>
                </div>
            </div>
        </div>
        <div id="main">
            <form class="col-md-8 col-md-offset-1 ct-form-submit" data-url="" data-method="POST" >
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" disabled class="form-control" value="{$data['user_name']}">
                </div>
                <div class="form-group">
                    <label>新密码</label>
                    <input type="text" name="new_pass" class="form-control" placeholder="不填写则不修改" >
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <input type="text" name="new_pass_confirm" class="form-control" placeholder="若修改，请确认新密码" >
                </div>
                <div class="form-group">
                    <label>手机号</label>
                    <input type="num" name="mobile" class="form-control" value="{$data['mobile']}"  placeholder="您的手机号">
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="email" required name="email" class="form-control" value="{$data['email']}"  placeholder="您的邮箱">
                </div>
                <div class="form-group">
                    <label>背景主题</label>
                    <select class="form-control" name="theme_id">
                        <option value="0">随机</option>
                        {volist name="bgAnimate" id="val"}
                        <option {eq name="$data['theme_id']" value="$val['id']"} selected {/eq} value="{$val['id']}">{$val['key']}</option>
                        {/volist}
                    </select>
                </div>
                <div class="form-group">
                    <label>登陆IP：</label>
                    <input type="text" disabled class="form-control" value="{$data['ip']['value']}">
                    <p class="help-block">该账号仅允许此IP登陆，0为不限制</p>
                </div>
                <div class="form-group">
                    <label>有效截止时间</label>
                    {eq name="$data['time_bar']['value']" value="0" }
                    <input type="text" disabled class="form-control" value="未限制">
                    {else /}
                    <input type="text" disabled class="form-control" value="{$data['time_bar']['text']}">
                    {/eq}
                </div>
                <div class="form-group pdt10">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </section>
{include file="public/footer"}
