#header{
    top:-80px;
}
#article{
    right: -190px;
}
#nav{
    left: -190px;
}



/* 头部动画 */
#header{
    animation: headers 7s ease-in-out;
    animation-fill-mode:forwards;
}
@keyframes headers {
    10%{
        top:0;
    }
    40%{
        background-position-y: 5px;
    }
    50%{
        background-position-y: 5px;
    }
    100% {
        background-position-x: 120%;
        background-position-y: -10px;
        top:0;
    }
}

/* 左侧动画 */
#nav{
    animation: navs 1s ease;
    animation-fill-mode:forwards;
}
@keyframes navs {
    100% {
        left: 0;
    }
}

/* 右侧动画 */
#article{
    animation: articles 1s ease;
    animation-fill-mode:forwards;
}
@keyframes articles {
    100% {
        right: 0;
    }
}

/* 会飞的兔纸 */
#rabbit{
    position: absolute;
    top: -25px;
    left: -150px;
    width: 140px;
    animation: rabbits 5s linear;
    animation-fill-mode:forwards;
}
@keyframes rabbits {
    10%{
        transform: rotateY(180deg);
        top:-15px;
    }
    50%{
        transform: rotateY(0deg);
        top:-5px;
    }
    100% {
        left: 120%;
        transform: rotateY(0deg);
        top:-10px;
    }
}