{load href="__ADMIN__/public/footer.css"}
{include file="public/imgs"}
<footer id="footer">
    <span><a target="_blank" href="{$copyrightUrl}">{$copyrightText}</a></span>
</footer>

<!-- 菜单高亮 Start -->
{present name="$highlight"}
    <input type="hidden" id="highlight_path" value="{:url( request()->module().'/'.request()->controller().'/'.$highlight )}" >
{else /}
    <input type="hidden" id="highlight_path" value="{:url( request()->module().'/'.request()->controller().'/index' )}" >
{/present}
<!-- 菜单高亮 End -->

<!-- 多图模板 Start -->
<div id="imgsHtml" class="hidden">
    {:widget('Imgs/html', [ '', 1 ] )}
</div>
<!-- 多图模板 End -->


<script>
    var msgAudioStatus = "{$msgAudioStatus}";
    var upload_img_url = "{:url('CommonAction/uploadImg')}";
    var searchMenuUrl = "{:url('CommonAction/searchMenu')}";
    var imgsHtml = $("#imgsHtml").html();
</script>
<script src="{$_filename}"></script>
</body>
</html>