{include file="public/header"}
{include file="public/left"}
    <section class="container" id="container">
        <div class="box">
            <div class="head">
                <h2>添加角色</h2>
                <div class="head-right">
                    <button class="btn btn-primary go-back">返回</button>
                </div>
            </div>
        </div>
        <div id="main">
            <form class="col-md-8 col-md-offset-1 ct-form-submit" data-url="" data-method="POST" >
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" required name="name" class="form-control"  placeholder="角色名称">
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <input type="text" name="desc" class="form-control"  placeholder="角色描述">
                </div>
                <div class="form-group">
                    <label>状态</label>
                    <select class="form-control" name="status">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="form-group pdt10">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </div>
    </section>
{include file="public/footer"}
