{include file="public/header"}
{include file="public/left"}
    <section class="container" id="container">
        <div class="box">
            <div class="head">
                <h2>
                    {if condition="$parent_id eq 0"}
                        {$menuTitle}
                    {else /}
                        子菜单列表
                    {/if}
                </h2>
                <div class="head-right">
                    <a href="{:url( request()->controller().'/add')}"><button class="btn btn-primary">新增菜单</button></a>
                    {if condition="$parent_id neq 0"}
                        <button class="btn btn-primary go-back">返回</button>
                    {/if}
                </div>
            </div>
        </div>
        <div class="search-form">
            <form action="" method="get">
                <div class="tables-searchbox">
                    <div class="pull-left">
                        <label class="search-label">菜单：</label>
                        <input type="text" name="name" value="{$_GET['name'] ?: ''}" class="input" placeholder="菜单名称">
                    </div>
                    <div class="pull-left">
                        <label class="search-label">path：</label>
                        <input type="text" name="path" value="{$_GET['path'] ?: ''}" class="input" placeholder="菜单url">
                    </div>
                    <div class="pull-left search-btn">
                        <button id="search" class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> 查询</button>
                        <button class="btn btn-default" id="reset" type="button"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="main">
            <table class="ctTables">
                <thead>
                <tr>
                    <td width="5%"></td>
                    <td width="15%">名称</td>
                    <td width="15%">path</td>
                    <td width="10%">排序</td>
                    <td width="8%">加载动画</td>
                    <td width="8%">默认选中</td>
                    <td width="10%">状态</td>
                    <td width="25%">操作</td>
                </tr>
                </thead>
                <tbody>
                    {volist name="list" id="val" empty="$_empty"}
                        <tr>
                            <td><input type="checkbox" class="checkbox-id" value="{$val['id']}"></td>
                            <td>
                                {if condition="$parent_id neq 0"}
                                [ {$val['group_name']|default='--'} ] -
                                {/if}
                                {$val['name']}
                            </td>
                            <td>{$val['path']}</td>
                            <td>{$val['sort']}</td>
                            <td>{$val['animate_status']['text']|raw}</td>
                            <td>{$val['checked']['text']|raw}</td>
                            <td>{$val['status']['text']|raw}</td>
                            <td>
                                {if condition="$parent_id eq 0"}
                                    <a href="{:url('Menu/index', [ 'id' => $val['id'] ] )}">
                                        <button class="btn btn-success">查看子菜单</button>
                                    </a>
                                {/if}
                                <a href="{:url( request()->controller().'/edit', [ 'id' => $val['id'] ] )}">
                                    <button class="btn btn-primary">修改</button>
                                </a>

                                <button onclick="ctSetField(this,{ 'id':{$val['id']}, 'field':'animate_status', 'value':{$val['animate_status']['value']} })" class="{$val['animate_status']['btnClass']}">{$val['animate_status']['btnText']}</button>

                                <button onclick="ctSetField(this,{ 'id':{$val['id']}, 'field':'status', 'value':{$val['status']['value']} })" class="{$val['status']['btnClass']}">{$val['status']['btnText']}</button>

                                <button class="btn btn-danger del" data-id="{$val['id']}">删除</button>

                                {if condition="$val['parent_id'] neq 0 and $val['status']['value'] neq 1 and $val['checked']['value'] neq 0"}
                                <button onclick="ctSetField( this, {'id':{$val['id']}, 'parent_id':{$val['parent_id']},'field':'checked' })" class="btn btn-default">设为默认</button>
                                {/if}
                            </td>
                        </tr>
                    {/volist}
                </tbody>
            </table>
            {:widget('Page/html', [ $list, 3 ] )}
        </div>
    </section>
{include file="public/footer"}
