{include file="public/header"}
{include file="public/left"}
    <section class="container" id="container">
        <div class="box">
            <div class="head">
                <h2>
                    {$menuTitle}
                </h2>
            </div>
        </div>
        <div class="search-form">
            <form action="" method="get">
                <div class="tables-searchbox">
                    <div class="pull-left">
                        <label class="search-label">ID：</label>
                        <input type="text" name="admin_id" value="{$_GET['admin_id']|default=''}" class="input" placeholder="管理员ID">
                    </div>
                    <div class="pull-left">
                        <label class="search-label">账号：</label>
                        <input type="text" name="user_name" value="{$_GET['user_name']|default=''}" class="input" placeholder="管理员账号">
                    </div>
                    <div class="pull-left">
                        <label class="search-label">邮箱：</label>
                        <input type="text" name="email" value="{$_GET['email']|default=''}" class="input" placeholder="管理员邮箱">
                    </div>
                    <div class="pull-left">
                        <label class="search-label">手机号：</label>
                        <input type="text" name="mobile" value="{$_GET['mobile']|default=''}" class="input" placeholder="管理员手机号">
                    </div>
                    <div class="pull-left search-btn">
                        <button id="search" class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> 查询</button>
                        <button class="btn btn-default" id="reset" type="button"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="main">
            <table class="ctTables">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>账号</td>
                    <td>邮箱</td>
                    <td>手机号</td>
                    <td>登陆IP</td>
                    <td>登陆时间</td>
                </tr>
                </thead>
                <tbody>
                    {volist name="list" id="val" empty="$_empty"}
                        <tr>
                            <td>{$val['admin_id']}</td>
                            <td>{$val['user_name']}</td>
                            <td>{$val['email']}</td>
                            <td>{$val['mobile']|default='--'}</td>
                            <td>{$val['ip']|ipChange=false}</td>
                            <td>{$val['create_time']}</td>
                        </tr>
                    {/volist}
                </tbody>
            </table>
            {:widget('Page/html', [ $list ] )}
        </div>
    </section>
{include file="public/footer"}
